body {
  margin: 0;
  font-family: 'Roboto', 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.margin-top-initial{
  margin-top: 7em;
}

button:focus {
    outline: none!important;
    outline: none!important;
}

/* Navbar */
@media(max-width: 991.98px){
  .linkText{
    display: none;
  }
}
/* End Navbar */

.banner{
  top: 0;
  left: 0;
  right: 0;
  padding-top: 9em;
  padding-bottom: 6em;
  width: 100%;
  background: rgb(26, 188, 156);
	background: -moz-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background: linear-gradient(135deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
  color: white;
  -webkit-text-stroke: 0.01px #000;
}
/* End Home Page */

/* Scrollbar */
::-webkit-scrollbar {
  width: 9px;               /* width of the entire scrollbar */
  height: 5px;               /* he of the entire scrollbar */
}
::-webkit-scrollbar-track {
  background: #fafafa!important;      /* color of the tracking area */
}
::-webkit-scrollbar-thumb {
  background-color: #0093E9;    /* color of the scroll thumb */
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
/* End Scrollbar */


/* Personalized Blue Button */
.transparent{
  background-color: transparent!important;
  color: #fff!important;
  -webkit-text-stroke: 0.1px #000;
  letter-spacing: 0!important;
}

.transparent:hover{
  background-color: transparent!important;
}

.fill-two {
	position: absolute;
	background-image: linear-gradient(to right ,#0093E9, #7f1cad);
	background-size: 300% 500%;
	height: 100%;
	width: 100%;
  border-radius: 0;
  z-index: -1;
  transition: all 0.4s ease;
}

.container-btn-two:hover .fill-two {
	-webkit-animation: gradient 3s ease infinite;
	-moz-animation: gradient 3s ease infinite;
	animation: gradient 3s ease infinite;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-moz-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* End Personalized Blue Button */

/* Divider Wave */

.wave{
  position: absolute;
  bottom: 0;
}

.dark{
  fill: #303030;
}

.light{
  fill: #fafafa;
}

/* End Divider Wave */

/* Navbar Buttons Shadows */
.link-shadow:hover{
  -webkit-box-shadow: 0 5px 0 0 #088ca3;
  box-shadow: 0 5px 0 0 #088ca3;
  transition: box-shadow 0.5s;
}
/* End Navbar Buttons Shadows */

.floating{
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-2px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

#withWidthFull{
  display: block;
}

#withNoWidthFull{
  display: none;
}

@media(max-width: 959.98px){
  #withWidthFull{
    display: none;
  }
  
  #withNoWidthFull{
    display: block;
  }
}

@media(max-width: 518.98px){
	#navScroll{
		overflow: auto!important;
	}

	.nav-link{
		padding: .5rem 0.2rem!important;
	}
}
